<img id="menu" src="assets/icons/bars.svg" alt="منو" (click)='toggleMenu(true)'>

<div [class]="{'active-content' : menuStatus}" class="content" (click)='toggleMenu(false)'>
</div>
<div [class]="{'active-drawer' : menuStatus}" class="drawer">
    <img class="close-drawer" src="assets/icons/times.svg" alt="خروج" (click)='toggleMenu(false)'>
    <img class="user-image" src="assets/images/person.svg" alt="امیر سیفی">
    <ul class="menu-items">
        <li>
            <a>
                صفحه اصلی
            </a>
        </li>
        <li>
            <a>
                تالار اساتید
            </a>
        </li>
        <li>
            <a>
                خانه
            </a>
        </li>
        <li>
            <a>
                محصولات
            </a>
        </li>
        <li>
            <a>
                خروج
            </a>
        </li>
    </ul>
</div>
