#menu{
    width: 30px;
    height: 30px;
}

.content{
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    z-index: 999;
    transition: all .7s;
}

.drawer{
    width: 80%;
    height: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    right: -80%;
    bottom: 0;
    text-align: right;
    box-shadow: 0 4px 8px 5px rgba(120 ,120 ,120, .4);
    z-index: 9999;
    transition: all .7s;
    .close-drawer{
        width: 25px;
        height: 25px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .user-image {
        width: 75px;
        height: 75px;
        display: block;
        margin: 42px auto 16px auto;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 50%;
    }
    .menu-items{
        list-style: none;
        padding: 0;
        li {
            padding: 16px;
            border-bottom: 1px solid rgb(230, 230, 230);
        }
    }
}

.active-drawer {
    right: 0;
}

.active-content{
    visibility: visible;
    background-color: rgba(0, 0, 0, .5);

}