#header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    box-shadow: 0 4px 8px -2px rgba(200 ,200 ,200, .5);
    border-bottom: 1px solid rgb(210 ,210 ,210 );
    background-color: white;
}

#schematic{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

#links{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    @media (max-width: 768px) {
        display: none;
    }
    ul{
        li{
            display: inline-block;
            padding: 0 12px;
            cursor: pointer;
            a{
                transition: all .3s;
                color: var(--grey-dark);
                &:hover {
                    color: var(--grey);
                }
            }
        }
    }
    i{
        margin-left: 12px;
        color: var(--primary);
        cursor: pointer;
        transition: all .3s;
        &:hover{
            color: var(--primary-dark);
        }
    }
}

#options{
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(230, 230, 230);
    padding-right: 8px;
    @media (max-width: 768px) {
        display: none;
    }
    i {
        color: var(--grey-dark);
        direction: rtl;
        padding: 0 8px;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            color: var(--grey);
        }
    }
    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid rgb(230, 230, 230);
        margin: 0 12px;
    }
}
#hamburger-menu{
    display: none;
    align-items: center;
    @media (max-width: 768px) {
        display: flex;
    }
}