<app-top-header></app-top-header>
<div id="header">
    <div id="schematic" class="responsive-block">
        <div id="links">
            <i class="material-icons" routerLink="/" routerLinkActive="active" routerLinkActive="router-link-active" title="خانه">home</i>
            <ul>
                <li>
                    <a>
                        صفحه اصلی
                    </a>
                </li>
                <li>
                    <a>
                        تالار اساتید
                    </a>
                </li>
                <li>
                    <a>
                        خانه
                    </a>
                </li>
                <li>
                    <a>
                        محصولات
                    </a>
                </li>
            </ul>
        </div>
        <div id="options">
            <i class="material-icons" routerLink="/" routerLinkActive="active" routerLinkActive="router-link-active" title="خروج">logout</i>
            <img src="assets/images/person.svg" alt="امیر سیفی" />
            <i class="material-icons">notifications_none</i>
        </div>
        <div id="hamburger-menu">
            <app-hamburger-menu></app-hamburger-menu>
        </div>
    </div>
</div>