<div id="not-found-page">
    <div id="not-found-page-content" class="col-5 col-m-7 col-s-10">
        <img src="/assets/images/pageNotFound.svg" alt="صفحه مورد نظر پیدا نشد" class="col-8" />
        <h2>این راه به جایی نمیرسد</h2>
        <p>به نظر آدرس را اشتباه وارد کرده‌اید برای پیدا کردن مسیر درست می‌توانید سری به صفحه اول بزنید</p>
        <a routerLink="/" routerLinkActive="active" routerLinkActive="router-link-active"  class="button-goto-home">
            صفحه اول
        </a>
    </div>  
</div>