@import './../shared/globalStyle.less';

#not-found-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
}

#not-found-page-content {
    img{
        display: block;
        margin: auto;
    }
}

.button-goto-home{
    width: 200px;
    .button();
}