<div class="responsive-block">
    <div id="profile">
        <div id="info">
            <img src="assets/images/person.svg" alt="امیر سیفی">
            <h2>محمد بابایی</h2>
            <p>#Mbabaei</p>
        </div>
        <button type="button" class="logout-button">
            خروج از حساب
        </button>
    </div>
</div>

<div class="responsive-block">
    <div id="navigate">
        <p>اطلاعات کاربر</p>
        <p class="active-navigate">کیف پول</p>
    </div>
    <div class="separate"></div>
</div>


<div class="responsive-block">
    <div id="account">
        <div id="stock">
            <img src="assets/icons/wallet.svg" alt="موجودی کیف پول">
            <p>250,000</p>
        </div>
        <div id="charge-wallet">
            <h3>شارژ کیف پول</h3>
            <div id="input-block">
                <small>مبلغ</small>
                <input type="text" placeholder="0">
            </div>
            <button id="pay" type="button">
                پرداخت
            </button>
        </div>
    </div>
</div>

