@import './../../shared/globalStyle.less';

#profile{
    margin: 85px auto 42px auto;
    background-color: var(--background);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 32px;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    #info{
        position: relative;
        padding-right: 200px;
        @media (max-width: 768px) {
            padding: 120px 0 0 0;
        }
        img{
            position: absolute;
            top: -80px;
            right: 0;
            width: 180px;
            height: 180px;
            @media (max-width: 768px) {
                right: 50%;
                transform: translate(50%, 0);
            }
        }
        h2{
            margin: 0 0 6px 0;
        }
        P{
            text-align: right;
            margin: 0;
            color: var(--blue);
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

#navigate{
    text-align: right;
    p{
        display: inline-block;
        margin: 0 6px;
        color: var(--grey-dark);
        padding: 12px;
    }
    .active-navigate{
        color: var(--primary);
        border-bottom: 1px solid var(--primary);
    }
}

#account{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin:  32px 0;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    #stock{
        width: 300px;
        height: 300px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--background);
        img {
            width: 80px;
            height: 80px;
        }
        p{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 1.6em;
            color: var(--primary);
            direction: rtl;
            &::after{
                content: 'تومان';
                font-size: 16px;
                font-family: 'yekan';
                color: var(--grey);
                margin: 6px;
            }
        }
    }

    #charge-wallet {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        direction: rtl;
        margin: 0 12px;
        @media (max-width: 768px) {
            margin-top: 16px;
        }
        h3{
            margin-top: 0;
        }
        #input-block{
            width: 300px;
            background-color: var(--background);
            border-radius: 6px;
            padding-top: 6px;
            margin: 12px 0;
            border-bottom: 3px solid var(--blue);
            small{
                padding: 8px;
                font-family: 'yekan';
                color: var(--blue);
            }
            input{
                width: 100%;
                border-style: none;
                padding: 12px;
                direction: ltr;
                background-color: var(--background);
            }
        }
        #pay{
            width: 250px;
            .button();
            background-color: var(--blue);
            margin-top: 20px;
        }
    }
}

.separate{
    width: 100%;
    border-top: 1px solid rgb(230, 230, 230);
    margin-top: -1px;
}

.logout-button{
    width: 220px;
    .button();
    @media (max-width: 768px) {
        margin-top: 32px;
    }
}