@import './../../shared/globalStyle.less';

#footer{
    width: 100%;
    background-color: var(--background);
    padding: 32px 0;
}

#schematic{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    @media (max-width: 1000px) {
        flex-direction: column;
    }
}

#footer-links{
    direction: rtl;
    display: flex;
    flex-direction: row;
    @media (max-width: 400px) {
        flex-direction: column;
    }
    li{
        list-style: none;
        padding: 8px;
        cursor: pointer;
        color: var(--grey-dark);
        transition: all .3s;
        &:hover{
            color: var(--grey);
        }
        a{
            @media (max-width: 500px) {
                font-size: .8em;
            }
        }
    }
}

#footer-contactus{
    h3{
        margin: 8px 0;
    }
    p{
        color: var(--grey-dark);
    }
    #input-email{
        width: 400px;
        @media (max-width: 500px) {
            width: 100%;
        }
        button{
            display: inline-block;
            width: 100px;
            .button();
            @media (max-width: 500px) {
                width: 25%;
            }
        }
        input{
            width: 285px;
            margin-right: 10px;
            padding: 12px;
            border-radius: 4px;
            border: .5px solid var(--primary);
            direction: ltr;
            @media (max-width: 500px) {
                width: 70%;
                margin-right: 3%;
            }
        }
    }
}

#bottom-footer {
    width: 100%;
    background-color: var(--primary);
    .responsive-block{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        height: 30px;
        img {
            width: 18px;
            height: 18px;
            margin: 0 8px;
            fill: #ffffff;
        }
    }
}