<div id="footer">
    <div id="schematic" class="responsive-block">
        <div id="footer-links">
            <ul>
                <li><a>درباره ما</a></li>
                <li><a>قوانین و مقررات</a></li>
                <li><a>ارتباط باما</a></li>
            </ul>
            <ul>
                <li><a>0911 234 5678</a></li>
                <li><a>sokhanvaran@gmail.com</a></li>
            </ul>
        </div>
        <div id="footer-contactus">
            <h3>جهت دریافت خبر نامه ها ایمیل خودرا وارد نمایید</h3>
            <p>جهت ارتباط و هرگونه سوالی از طریق</p>
            <div id="input-email">
                <input placeholder="ایمیل خود را وارد نمایید" />
                <button type="button">
                    ثبت
                </button>
            </div>
        </div>
    </div>
</div>

<div id="bottom-footer">
    <div class="responsive-block">
        <img class="icon" src="assets/icons/facebook-f-w.svg" />
        <img class="icon" src="assets/icons/twitter-w.svg" />
        <img class="icon" src="assets/icons/telegram-plane-w.svg" />
    </div>
</div>

