<div id='top-header'>
    <div id="schematic" class="responsive-block">
        <div id="contact">
            <img class="icon" src="assets/icons/phone.svg" />
            <p>+98 901 554 6271</p>
        </div>
        <div id="social-media">
            <img class="icon" src="assets/icons/facebook-f.svg" />
            <img class="icon" src="assets/icons/twitter.svg" />
            <img class="icon" src="assets/icons/telegram-plane.svg" />
        </div>
    </div>
</div>
