

#top-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 8px -2px rgba(200 ,200 ,200, .5);
    border-bottom: 1px solid rgb(210 ,210 ,210 );
    background-color: var(--backgroun);
}

#schematic{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    width: 18px;
    height: 18px;
    margin: 0 10px;
}

#social-media,#contact{
    display: flex;
    align-items: center;
}

#contact{
    p{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--grey-dark)
    }
}