
.button{
    display: inline-block;
    border-style: none;
    border-radius: var(--radius);
    padding: 12px;
    text-align: center;
    color: var(--white);
    margin: 12px 0;
    background-color: var(--primary);
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background-color: var(--primary-dark);
    }
}