html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

:root{
    --primary: #F1284A;
    --primary-dark: #af1831;
    --background: #F0F0F0;
    --white: white;
    --text-color: #000000;
    --text-color-lighter: #000000;
    --text-color-grey: #000000;
    --blue: blue;
    --radius: 6px;
}

@font-face {
    font-family: 'yekan';
    src: url("assets/fonts/yekan.woff2") format("woff2");
    font-style: normal;
    display: swap;
}
  
@font-face {
    font-family: 'yekanBold';
    src: url("assets/fonts/yekanBold.woff2") format("woff2");
    font-style: normal;
    display: swap;
}

p,label,a,button,input{
    font-family: 'yekan';
}
  
h1,h2,h3,h4,strong{
    font-family: 'yekanBold';
}

a{
    text-decoration: unset;
}
@media only screen and (min-width: 300px) {
    /* For smartPhone: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.responsive-block{
    display: block;
    margin: auto;
    max-width: 1440px;
    padding: 0 16px;
    @media(max-width: 768px){
        padding: 0 8px;
    }
}