@import './../shared/globalStyle.less';

#wallet{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goto-wallet{
    width: 300px;
    .button();
}